.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.logo-text {
  width: 120px;
}

.bi {
  margin-right: 10px;
}

.story {
  height: 70px;
  padding: 19px;
  background-color: #ffffff;
}

.dp {
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.image {
  width: 470px;
  height: 470px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 150px;
}

.post {
  width: 470px;
  margin: 20px auto;
  background: #fff;
}

.suggestions h5 {
  font-size: 16px;
}

.suggestions .dp {
  margin-top: 0px;
}

.gradient-border {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ff00ff,
    #ff6600,
    #ffcc00
  );
}

.story-dp {
  width: 40px;
}

.Sideadjust {
  margin: 5px;
  position: fixed;
  margin-left: 80px;
  background-color: #ffffff;
  border-right: 1px solid #dbdbdb;
  height: 100vh;
  padding: 30px 20px;
}

.suggestions {
  background-color: #ffffff;
  border-left: 1px solid #dbdbdb;
  height: 100vh;
  padding: 30px 20px;
}

.logo-text:hover {
  cursor: pointer;
}